<div class="page_margin">
  <h2 class="page_title">マイページ</h2>

  <div class="py-2 px-4 w-full">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <fieldset class="fieldset">
        <%= f.label :username, 'ユーザー名', class:"fieldset-legend" %>
        <%= f.text_field :username, class: "input w-full", placeholder: "ユーザー名"  %>
      </fieldset>

      <fieldset class="fieldset">
        <%= f.label :image_url, 'アイコン画像', class:"fieldset-legend" %>
        <span class="label">
          （PCでの操作推奨）<br>
          1. Xを開き、自分のプロフィール画面にアクセス<br>
          2. アイコンをクリックし、画像を右クリック<br>
          3. 「画像アドレスをコピー」をクリック<br>
          4. 下のテキストボックスに貼り付けてください
        </span>
        <%= f.text_field :image_url, class: "input w-full", placeholder: "https://example.com/image.jpg"  %>
      </fieldset>

      <fieldset class="fieldset">
        <%= f.label :term, '何期生？', class:"fieldset-legend" %>
        <%= f.number_field :term, class: "input w-full" %>
      </fieldset>

      <fieldset class="fieldset">
        <%= f.label :term, '在籍状況', class:"fieldset-legend" %>
        <%= f.select :role, User.roles.keys.map { |key| [I18n.t("activerecord.enums.user.role.#{key}"), key] }, { include_blank: true }, class: "select w-full" %>
      </fieldset>

      <%= f.label :x_id, 'XのID', class:"fieldset-legend" %>
      <label class="input w-full">
        <span class="label">@</span>
        <%= f.text_field :x_id, placeholder: "example_id", type:"text" %>
      </label>

      <fieldset class="fieldset">
        <%= f.label :mattermost_link, 'Mattermost times URL', class:"fieldset-legend" %>
        <%= f.text_field :mattermost_link, class: "input w-full", placeholder: "https://chat.runteq.jp/runteq/channels/example_user"  %>
      </fieldset>

      <fieldset class="fieldset">
        <%= f.label :portfolio_link, 'ソーシャルポートフォリオ URL', class:"fieldset-legend" %>
        <%= f.text_field :portfolio_link, class: "input w-full", placeholder: "https://school.runteq.jp/social_portfolios/example_user"  %>
      </fieldset>

      <div class="py-2">
        <%= f.submit '更新', class: "btn" %>
      </div>
    <% end %>
  </div>
</div>