<div class="card w-full bg-neutral shadow-sm mb-4">
  <div class="card-body">
    <span class="badge badge-xs badge-warning">
      <%= artist.performance_category %>
    </span>
    <div class="flex justify-between">
      <h2 class="text-3xl font-bold">
        <%= artist.name %>
      </h2>
    </div>
    <div onclick="my_modal_<%= artist.id %>.showModal()">
      <%= render partial: "artist_members_icon", locals: { members: artist.artist_members } %>
      <%= render partial: "artists/modals/artist_members", locals: { artist: artist } %>
    </div>
    <div>
      <p class="text-sm md:text-lg">
        <%= artist.performance_content %>
      </p>
    </div>
  </div>
</div>