<div class="page_margin">
  <h2 class="page_title">出演希望申請フォーム</h2>
  <div class="divider"></div>
  <p class="my-2">以下のフォームに必要事項を入力し、送信ボタンを押してください。</p>
  <div class="divider"></div>
  <div class="my-2">
    <%= form_with model: @artist, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, local: true do |f| %>
      <div class="fieldset my-2">
        <%= f.label :name, "アーティスト名", class: "fieldset-legend" %>
        <%= f.text_field :name,  placeholder: "アーティスト名", class: "input" %>
      </div>

      <div class="fieldset my-2">
        <%= f.label :performance_category, "カテゴリー", class: "fieldset-legend" %>
        <%= f.select :performance_category, Artist.performance_categories.keys.map { |key| [I18n.t("activerecord.enums.artist.performance_category.#{key}"), key] }, { include_blank: true }, class: "select w-full" %>
      </div>

      <div class="fieldset my-2">
        <%= f.label "メンバー", class: "fieldset-legend" %>
        <%= render "artists/nested_forms/artist_member_forms", f: f %>
      </div>

      <div class="my-2">
        <%= f.submit "送信", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>