<div class="modal-box p-4">
  <h3 class="text-lg font-bold"><%= attendee.username %>さん</h3>
  <% if attendee.role.present? %>
    <p class="py-2">
      (<%= attendee.role_i18n %>)
    </p>
  <% end %>

  <% if attendee.term.present? %>
    <p class="py-1">
      ・<%= attendee.term %>期生
    </p>
  <% end %>

  <% if attendee.x_id.present? %>
    <div class="py-1 flex items-center">
      <p>・</p>
      <%= link_to attendee.x_profile_link do %>
        <i class="fa-brands fa-square-x-twitter fa-2x"></i>
      <% end %>
      <div data-controller="clipboard" data-clipboard-success-content-value="Copied!" class="flex items-center ml-2">
        <div class="">
          <input type="text" value=@<%= attendee.x_id %> data-clipboard-target="source" disabled class="input text-info px-1" />
        </div>
        <div class="btn ml-1 px-2">
          <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="text-xs">Copy ID</button>
        </div>
      </div>
    </div>
  <% end %>

  <div class="modal-action">
    <form method="dialog">
      <button class="btn">閉じる</button>
    </form>
  </div>
</div>