<div class="card bg-neutral card-xs shadow-sm p-4">
  <div class="card-body">
    <h2 class="card-title text-xl font-bold">
      <%= post.title %>
    </h2>
    <h3 class="card-subtitle text-base">
      <%= simple_format(post.comment) %>
    </h3>
    <p class="text-xs md:text-sm mt-3">
      <%= post.user.term && post.user.term %>期生
      <%= post.user.username %> さん<br>
      （<%= post.created_at.strftime("%m月%d日 %H:%M") %>）
    </p>
    <% if post.user == current_user %>
      <div class="flex justify-start mt-4">
        <%= link_to edit_performer_request_post_path(post.id) do %>
          <i class="fa-solid fa-pen-to-square text-lg text-primary"></i>
        <% end %>
        <%= link_to post, data: { "turbo-method": :delete, "turbo-confirm": "本当に削除しますか？" } do %>
          <i class="fa-solid fa-trash text-lg text-primary ml-4"></i>
        <% end %>
      </div>
    <% end %>
    <div class="justify-end card-actions" onclick="my_modal_<%= post.user.id %>.showModal()">
      <div class="btn btn-soft btn-primary btn-md">
        <p>投稿者に連絡する📱</p>
      </div>
    </div>
  </div>
</div>
