<%= render partial: "attendees/update_attend_status" %>

<div class="flex items-center justify-center md:pl-8">
  <div class="w-36 h-36">
    <%= render partial: 'users/icon', locals: { user: current_user } %>
  </div>
</div>

<div class="py-2 md:w-2/3">
  <%= form_with model: current_user, url: user_registration_path do |f| %>
    <fieldset class="fieldset">
      <%= f.label :username, 'ユーザー名', class:"fieldset-legend" %>
      <%= f.text_field :username, class: "input w-full", placeholder: "ユーザー名"  %>
    </fieldset>

    <fieldset class="fieldset">
      <%= f.label :term, '何期生？', class:"fieldset-legend" %>
      <%= f.number_field :term, class: "input w-full" %>
    </fieldset>

    <fieldset class="fieldset">
      <%= f.label :term, '役割', class:"fieldset-legend" %>
      <%= f.select(:role, User.role_options, {}, class: 'select w-full') %>
    </fieldset>

    <%= f.label :x_id, 'XのID', class:"fieldset-legend" %>
    <label class="input w-full">
      <span class="label">@</span>
      <%= f.text_field :x_id, placeholder: "example_id", type:"text" %>
    </label>

    <fieldset class="fieldset">
      <%= f.label :mattermost_link, 'times URL', class:"fieldset-legend" %>
      <%= f.text_field :mattermost_link, class: "input w-full", placeholder: "https://chat.runteq.jp/runteq/channels/example_user"  %>
    </fieldset>

    <fieldset class="fieldset">
      <%= f.label :portfolio_link, 'ソーシャルポートフォリオ URL', class:"fieldset-legend" %>
      <%= f.text_field :portfolio_link, class: "input w-full", placeholder: "https://school.runteq.jp/social_portfolios/example_user"  %>
    </fieldset>

    <div class="py-2">
      <%= f.submit '更新', class: "btn" %>
    </div>
  <% end %>
</div>