<div class="page_margin">
  <h2 class="page_title">出演募集 掲示板 投稿編集</h2>

  <%= form_with model: @post, url: performer_request_post_path(@post), local: true, method: :patch do |f| %>
    <%= render 'shared/error_messages', model: @post %>
    <fieldset class="fieldset">
      <%= f.label :title, 'タイトル', class: "fieldset-legend" %>
      <%= f.text_field :title, class: "input w-full", placeholder: "e.g.) ギターを弾ける人を募集します！" %>
    </fieldset>
    <div class="fieldset mb-4">
      <%= f.label :comment, 'コメント', class: "fieldset-legend" %>
      <%= f.text_area :comment, class: "textarea w-full", placeholder: "e.g.) ヨルシカを歌いたいので、誰か誘ってください！\ne.g.) どなたか髭男のPretenderのピアノを弾いてください！" %>
    </div>
    <div class="form-group">
      <%= f.submit '更新する', class: 'btn btn-primary' %>
    </div>
  <% end %>
<div>