<div class="page_margin">
  <h2 class="page_title">出演募集 掲示板 投稿ページ</h2>

  <div class="card card-border bg-accent">
    <div class="card-body">
      <h2 class="card-title">【出演希望・出演者募集中の方】</h2>
      <p>
        投稿すると、<%= link_to "出演募集 掲示板", performer_request_posts_path, class: "link" %>に公開されます📝<br>
        「楽器は弾けるけど、歌ってくれる人がいない…」「歌ってみたいけど楽器は弾けない…」など、出演希望者同士の交流を目的とした掲示板です！<br>
        投稿後の編集・削除等は自由に行えます。
      </p>
    </div>
  </div>

  <%= form_with model: @post, url: performer_request_posts_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: @post %>
    <fieldset class="fieldset">
      <%= f.label :title, 'タイトル', class: "fieldset-legend" %>
      <%= f.text_field :title, class: "input w-full", placeholder: "e.g.) ギターを弾ける人を募集します！" %>
    </fieldset>
    <div class="fieldset mb-4">
      <%= f.label :comment, 'コメント', class: "fieldset-legend" %>
      <%= f.text_area :comment, class: "textarea w-full", placeholder: "e.g.) ヨルシカを歌いたいので、誰か誘ってください！\ne.g.) どなたか髭男のPretenderのピアノを弾いてください！" %>
    </div>
    <div class="form-group">
      <%= f.submit '投稿する', class: 'btn btn-primary' %>
    </div>
  <% end %>
<div>